################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProductCatalog
/ProductCatalog.Api/.config
/ProductCatalog.Api/.vs/ProductCatalogApi/DesignTimeBuild/.dtbcache.v2
/ProductCatalog.Api/.vs/ProductCatalogApi/config/applicationhost.config
/ProductCatalog.Api/.vs/ProductCatalogApi/v16/.suo
/ProductCatalog.Api/bin/Debug/netcoreapp3.1
/ProductCatalog.Api/bin/Release/netcoreapp3.1
/ProductCatalog.Api/obj
*.user
*.dll
/ProductCatalog.Application/bin/Debug/netcoreapp3.1
/ProductCatalog.Application/bin/Release/netcoreapp3.1
/ProductCatalog.Application/obj
/ProductCatalog.Crawler.Categories/bin
/ProductCatalog.Crawler.Categories/obj
/ProductCatalog.Crawler.Products/bin
/ProductCatalog.Crawler.Products/obj
/ProductCatalog.Crawler.Worker/bin/Debug/netcoreapp3.1
/ProductCatalog.Crawler.Worker/obj
/ProductCatalog.Domain/bin
/ProductCatalog.Domain/obj
/ProductCatalog.Infra.CrossCutting/bin
/ProductCatalog.Infra.CrossCutting/obj
/ProductCatalog.Infra.CrossCutting.Bus/bin
/ProductCatalog.Infra.CrossCutting.Bus/obj
/ProductCatalog.Infra.CrossCutting.IoC/bin
/ProductCatalog.Infra.CrossCutting.IoC/obj
/ProductCatalog.Infra.Data/bin
/ProductCatalog.Infra.Data/obj
/ProductCatalog.Infra.Data.Persistance/bin
/ProductCatalog.Infra.Data.Persistance/obj
